* {
    font-family: 'Jua', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigbox1 {
    background-color: whitesmoke;
    border: 2px solid gray;
    height: 350px;
    width: 700px;
    position: relative; 
    display: flex;
    flex-direction: column;
}

.horizontal-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 12.5%; 
    border-top: 2px solid black; 
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.check-btn{
    width: 80px;
    height:25px;
}

.logo1{
    top:3%;
    font-size: 2rem;
}

.logo2{
    margin-top: 10px;
    font-size: 1.8rem;
}

.content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.set1{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set1 div{
    margin: 10px;
}

.logo_bar{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.service{
    justify-content: center;
}

h1{
    font-size: 2rem;
    text-align: center;
}
p{
    font-size: 2rem;
}

.logo2{
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

.lable{
    font-size: 2rem;
}

.select{
    width: 100px;
    height: 25px;
}

.output{
    display: flex;
    text-align: center;
    justify-content: center;
}