body{
    margin: 0;
    background-color: grey;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color:white;
}
.navbar_logo i{
    color: orange;
}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li{
    padding: 8px 12px;
}

.navbar_menu li:hover{
    background-color: orange;
    border-radius: 4px;
}

.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_toogle{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: orange;
}

.Article_body ul{
    list-style: none;
}

.Article_body .sdy{
    display: flex;
    justify-content:center;
    align-items: center;
}
.sdy>img{
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons{
        justify-content: center;
        width: 100%;
    }
    .navbar_toogle{
        display: block;
    }
}