.header-container {
    background-color: rgba(3,37,65,1);
}

.Wrap{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.Wrap li{
    padding: 8px 12px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
